<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>
  <body style="background-color:white;">
  
  <div class="navbar">
    <a style="font-size: 40px;">NEC</a>
    <div class="dropdown">
      <button class="dropbtn">services
       <i class="fa fa-caret-down"></i>
     </button>
     <div class="dropdown-content">
       <a href="generate">Student info</a>
       <a href="insert1">intermediate</a>
       <a href="vocin">vocational</a>
       <a href="add">Iti</a>
       <a href="in4p">polytechnic</a>
       <a href="cinup">Diploma</a>
      </div>
     </div>
    <div style="margin-left: 700px;">
      <a href="home">home</a>

       <a href="main">about us</a>
    <a href="contact">contact us</a>
  
  
  
    <div class="dropdown">
      <button class="dropbtn">Courses
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="all">all available courses</a>
  
        <a href="iti">ITI</a>
        <a href="inter">intermediate</a>
        <a href="all">photography</a>
        <a href="vocational">vocational</a>
        <a href="diploma">diploma</a>
        <a href="poly">polytechnic</a>
        <a href="all">charted accountant</a>
        <a href="all">culinary arts</a>
        <a href="all">journalism</a>
        <a href="all">marketing</a>
        <a href="all">all courses</a>
  
  </div>
  
  
      </div>
      <a href="carousel">Logout</a>

    </div> 
  </div>
  
 
  <ul class="cards">
    <li>
      <a href="" class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShE_yot6Sc54LfJGGo3W8cfRDsa545LIauGH1pFSme68bf8nMyodA6FoN-pKQUTq9GYKs&usqp=CAU" class="card__image" height="" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title" style="color: white;">fitter </h3>
            </div>
          </div>
          <p class="card__description" style="color: white;" > Description:As the name suggets, you will learn about fitting this ITI course after 10th .the main reason on which Fitter works are the structure pipe,and, machine fitting .</p><br>
          <a href="https://aiecet.com/iti-fitter-course-details.php#:~:text=ITI%20Fitter%20is%20a%202,Machine%20fitting%2C%20and%20structure%20fittings.">know about course</a>
        </div>
      </a>      
    </li>
    <li>
      <a href="" class="card">
        <img src="https://ychef.files.bbci.co.uk/976x549/p0fqdwsv.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">Electrician</h3>
            </div>
          </div>
          <p class="card__description">ITI electricians foucus on aspects like wiring ,lightning,electrical machines and all electrical items etc.. as a part of this iti course after 10 students learn about installing& maintanence of heat,light,power,radio&signaling systems.</p>
        <p class="card__description"> Duration:2 years(4 semisters)</p>
        <a href="https://aiecet.com/iti-electrician-course-details.php#:~:text=ITI%20Electrician%20Course%20Details,stationary%20machines%2C%20and%20related%20equipment.">know more about course</a>
        </div>
      </a>
    </li>
    <li>
      <a href="" class="card">
        <img src="https://cdn.thefabricator.com/a/jims-cover-pass-7-guidelines-for-becoming-a-good-welder-1649801924.jpg?size=1000x" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">welder</h3>
            </div>
          </div>
          <p class="card__description">>Description: it is also a mechanical vocational trade.The students will learn and improve the welding skills. The main role of welders create metal structures using instruments like sharper and cutting.</p>
          <p class="card__description">   Duration:1 year(2 semisters)</p>
          <a href="https://www.rankedcollege.com/iti-welder-course/#:~:text=10%2C000%20per%20month-,What%20is%20Welder%20in%20ITI%3F,many%20more%20related%20to%20welding.">know more about course</a>
        </div>
      </a>
    </li>
    <li>
      <a href="" class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_jMPW5ZmySZa6XdcPKOb0lm9sKyXr2I9IzQ&usqp=CAU" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">plumber</h3>
            </div>
          </div>
          <p class="card__description">>Description: it is a vocational course of mechanical trade. The students will learn about installing various systems,air conditioning unoits,bathroom fittings,emergency repairs etc. it also involves the proper maintenence of these systems</p>
          <a href="https://www.rankedcollege.com/iti-plumber-course-details/">know more about course</a>
    
  
        </div>
      </a>
    </li>
    <li>
     
      
   
  </ul>