
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>
    <body > 
    <div class="navbar">
       <a href="home" style="font-size: 30px;">Home</a>
      <div style="margin-left: 650px;">
      <a href="insert1">insert</a>
      <a href="manasvi">update</a>
      <a href="read1">Search details</a>
       </div> 
    </div>
 
   <div class="bg">
    <h2 style="font-size: 35px; text-align: center ; color: white;">   INTERMEDIATE DETAILS   </h2> 

      <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 25PX;">If you wanted to search your details from our site please  Enter your  Hallticketno here!! </h1>
      <div class="he">
       </div>
      <div class="d-block mx-auto w-30" id="read">
          <label for="hallticketno" style="font-size: 50px; margin-left: 80px; margin-top:150px;"></label>
          <input type="text" name="hallticketno" id="hallticketno" class="form-control" [(ngModel)]="User.hallticketno"
              placeholder="hallticketno">
          <div class="d-flex my-2">
               
            <button type="submit"  class="button-button2" (click)="Read()">Read</button>
            <button type="submit" class="button-button2" (click)="Delete()">Delete</button>
   
            <div *ngIf="!(SuccessMsg == '')">{{SuccessMsg}}</div>
            <div *ngIf="!(ErrorMsg == '')">{{ErrorMsg}}</div>
       </div>
        
       &nbsp;&nbsp;&nbsp;&nbsp;
         <div class="bd">
       <table class="table w-50  mx-auto" *ngIf="Results.length!=0 && GotResult">
        <div *ngFor="let Data of Results">
         <tr>
             <td scope="col">Name</td>  
             <td scope="row">{{Data[0]}}</td>
             </tr> 
            <tr> <td scope="col">Hallticketno</td> 
             <td>{{Data[1]}}</td></tr> 
             <tr><td scope="col">Gender</td >
               <th>{{Data[2]}}</th></tr> 
             <tr><td scope="col">Sclname</td> 
               <td>{{Data[3]}}</td>
             </tr> 
            <tr> <td scope="col">Coursename</td> 
             <th>{{Data[4]}}</th></tr> 
             <tr><td scope="col">Gpa</td> 
               <td>{{Data[5]}}</td></tr> 
            <tr><td scope="col">Phno</td> 
             <th>{{Data[6]}}</th></tr> 
             <tr><td scope="col">Address</td> 
              <td>{{Data[7]}}</td></tr>  
   
  
         
     
              
          </div>
      
  </table>
  </div>
  
  
    </div>