<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>
  <body style="background-color:white;">
  
  <div class="navbar">
    <a style="font-size: 40px;">NEC</a>
    <div class="dropdown">
      <button class="dropbtn">services
       <i class="fa fa-caret-down"></i>
     </button>
     <div class="dropdown-content">
       <a href="generate">Student info</a>
       <a href="insert1">intermediate</a>
       <a href="vocin">vocational</a>
       <a href="add">Iti</a>
       <a href="in4p">polytechnic</a>
       <a href="cinup">Diploma</a>
      </div>
     </div>
    <div style="margin-left: 800px;">
    <a href="home">Home</a>
    <a href="main">About us</a>

  
  
  
    <div class="dropdown">
      <button class="dropbtn">Courses
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="all">all available courses</a>
  
        <a href="iti">ITI</a>
        <a href="inter">intermediate</a>
        <a href="all">photography</a>
        <a href="vocational">vocational</a>
        <a href="diploma">diploma</a>
        <a href="poly">polytechnic</a>
        <a href="all">charted accountant</a>
        <a href="all">culinary arts</a>
        <a href="all">journalism</a>
        <a href="all">marketing</a>
        <a href="all">all courses</a>
  
  </div>

  
  
      </div>
      <a href="carousel">logout</a>

    </div> 
  </div>
  
  

  <div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
    <!--Just the logo.. Don't mind this-->
   
    <h1>Get In Touch  With Us !! Details Are Given Below</h1>
    </div>
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->
    <div class="container">
      <div class="card">
        <img src=".\assets\pics\abi.jpg" alt="Person" class="card__image">
        <p class="card__name">Abhigna Divvela</p>
        <p class="card__name">Abhi@gmail.com</p>
        <p class="card__name">21471A0519</p>
    
    
        <div class="grid-container">
    
          
        </div>
        
        <a href="feed" class="btn draw-border">Message</a>
    
      </div>
      <div class="card">
        <img src=".\assets\pics\pra2.jpg" alt="Person" class="card__image">
    
        <p class="card__name">Prasanna Bommu</p>
        <p class="card__name">prasanna@gmail.com</p>
        <p class="card__name">21471A0513</p>
        <div class="grid-container">
    
        </div>
       
        <a href="feed" class="btn draw-border">Message</a>
    
      </div>
      <div class="card">
        <img src=".\assets\pics\div.jpg" alt="Person" class="card__image">
    
        <p class="card__name">Divya Narra</p>
        <p class="card__name">divya@gmail.com</p>
        <p class="card__name">21471A0540</p>
        <div class="grid-container">
    
          
    
        </div>
        
        <a href="feed" class="btn draw-border">Message</a>
    
      </div>
      <div class="card">
        <img src=".\assets\pics\sup.jpg" alt="Person" class="card__image">
    
        <p class="card__name">Supriya Borugadda</p>
        <p class="card__name">supriya@gmail.com</p>
        <p class="card__name">21471A0514</p>
        <div class="grid-container">
    
        
    
        </div>
        
        <a href="feed" class="btn draw-border">Message</a>
    
      </div>
      <div class="card">
        <img src=".\assets\pics\lavs.jpg" alt="Person" class="card__image">
    
        <p class="card__name">Lavanya Gude</p>
        <p class="card__name">lavanya@gmail.com</p>
        <p class="card__name">21471A0524</p>
        <div class="grid-container">
    
        
    
        </div>
        
        <a href="feed" class="btn draw-border">Message</a>
    
      </div>
      <div class="card">
        <img src=".\assets\pics\tri.jpg" alt="Person" class="card__image">
    
        <p class="card__name">Triveni Dasari</p>
        <p class="card__name">Triveni@gmail.com</p>
        <p class="card__name">21471A0517</p>
        <div class="grid-container">
    
          
    
        </div>
        
        <a href="feed" class="btn draw-border">Message</a>
    
      </div>
      <div class="card">
        <img src=".\assets\pics\anu.jpg" alt="Person" class="card__image">
    
        <p class="card__name">Annapurna Nakka</p>
        <p class="card__name">annapurna@gmail.com</p>
        <p class="card__name">21471A0538</p>
        <div class="grid-container">
    
        
        </div>
        
        <a href="feed" class="btn draw-border">Message</a>
    
      </div>
      <div class="card">
        <img src=".\assets\pics\j.jpg" alt="Person" class="card__image">
    
        <p class="card__name">Jyoshna Pandi </p>
        <p class="card__name">Jyoshna@gmail.com</p>
        <p class="card__name">21471A0542</p>
        <div class="grid-container">
    
        
        </div>
        
        <a href="feed" class="btn draw-border">Message</a>
      </div>
      <div class="card">
        <img src=".\assets\pics\d.jpg" alt="Person" class="card__image">
    
        <p class="card__name">Deepika Karasala</p>
        <p class="card__name">deepika@gmail.com</p>
        <p class="card__name">21471A0518</p>
        <div class="grid-container">
    
          
        </div>
       
        <a href="feed" class="btn draw-border">Message</a>
      </div>
    </div>